* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:2.9rem;
}

html {
	font-size:62.5%;
}
body {
	text-align: center;
	font-family: Calibri, serif;
	background: lightblue;
}
header, footer {
	margin: 0;
	padding: 0;
	background: cyan;
}
footer {
	position: absolute;
	top: 750px;
	width: 100%;
}
ul {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}
li {
	margin-right: 18px;
}
a {
	text-decoration: none;
}
section, form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section h1 {
	margin: 8px;
}